#SetEnv THEGARDEN_USER test
#SetEnv THEGARDEN_PASS test

# Disable directory listing
#Options -Indexes

# Cutom error pages
#ErrorDocument 403 /404.php
#ErrorDocument 404 /404.php
#ErrorDocument 500 /404.php

#RedirectMatch 403 /\\.git(/.*|$)

